*{
    margin: 0;
}
.navigation{
    font-family: var(--f1);
    height: 75px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.nav-left ul{
    display: flex;
    /* align-items: center; */
    margin: 0 77px;
    font-size: 18px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--f2);

}
.nav-left ul li a{
    text-decoration: none;
    color: black;
}
.nav-right{
    
}
.content{
    height: 95px;
    /* background-color: red; */
}
.footer{
    height: 30px;
    /* background-color: blue; */
}
.btn{

}
.form-input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 15px;
    font-family: var(--f1);
}
